# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments & virtualenvs
.env
.venv/
env/
venv/
ENV/

# IDE files
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
logs/
*.log

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/
test_results.txt
